@charset "utf-8";

//------------------------------------------------------------
//    【必須】サイト設定 - 変数
//------------------------------------------------------------

//■フォント

    $default-font    : 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    $Mont-font      : "Montserrat", serif;
    $Poppins-font      : "Poppins", sans-serif;
    $Josefin-font      : 'Josefin Sans', sans-serif;
    $Bebas-font      : "Bebas Neue", sans-serif;

//■アニメーション

    $default-transition: true;
    $default-transition-duration: .3s;


//■マウスオーバー時のリンク画像の透過

    $default-img-hover: true;
    $default-img-hover-opacity: 0.7;


//------------------------------------------------------------
//    【カスタム】変数
//------------------------------------------------------------

//■サイト幅
    $width-site : 1260px;
    $space-width: 20px;

//■ブレイクポイント
    $screen-xl : 1366px;
    $screen-lg : 1080px;
    $screen-md : 960px;
    $screen-sm : 768px;
    $screen-xs : 640px;

//■サイトカラー
    $gre : #B7D100;
    $red : #E60012;
    $aqa : #54c2f0;
    $gry : #7c8799;
    $ora : #ff9c00;
    $yel : #fff433;
    $nav : #001c3c;

