@charset "utf-8";

@import "variable";
@import "basic/mixin";
@import "basic/selector";

@import "basic/reset";
@import "basic/default";

/*==================================================================================================
    サイト基礎
==================================================================================================*/
body {
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    @include font-size(16);
    line-height: (28/16);
    background-color: #FFF;
    font-weight: 500;
    @include max-screen($screen-md) {
        &.opened {
            overflow: hidden;
        }
    }
}

img {
    max-width: none;
    width: 100%;
    &.img-fit {
        object-fit: cover !important;
        width: 100% !important;
        height: (20000vw/1460) !important;
        @include max-screen($screen-md) {
            height: (25000vw/960) !important;
        }
        @include max-screen($screen-sm) {
            height: (39170vw/768) !important;
        }
        @include max-screen($screen-xs) {
            height: (22442vw/375) !important;
        }
    }
}

a {
    color: #000;
    text-decoration: none;
}



/*==================================================================================================
    共通
=================================================================================================*/
.pc-show {
    display: block;
    position: relative;
    @include max-screen($screen-md) {
        display: none;
    }
}
.sp-show {
    display: none;
    position: relative;
    @include max-screen($screen-md) {
        display: block;
    }
}

.color_red {
    color: $red !important;
}
.color_gre {
    color: $gre !important;
}
.color_ora {
    color: $ora !important;
}

.btn {
    background: #50504B;
    color: #FFF;
    font-weight: normal;
    display: block;
    text-decoration: none;
    line-height: (68/16);
    border-radius: 50px;
    text-align: center;
    position: relative;
    width: 100%;
    font-size: (16em/16);
    &:after {
        content: "";
        width: (8em/16);
        height: (14em/16);
        @include pos-a(right,(25em/16),top,50%);
        transform: translate(0,-50%);
        background: url(../img/common/arrow_r_wt.svg) no-repeat;
        background-size: 100% auto;
        transition: .3s;
        @include min-screen($screen-md + 1) {
        }
    }
    &:hover {
        opacity: 0.8;
        color: #FFF;
    }
    &--wt {
        color: $red;
        background: #FFF;
        &--bg {
        }
        &:after {
            content: "";
            width: (6.25em/16);
            height: (11.5em/16);
            @include pos-a(right,(17em/16),top,50%);
            transform: translate(0,-50%);
            background: url(../img/common/arrow_r.svg) no-repeat;
            background-size: 100% auto;
            transition: .3s;
        }
    }
    &--border {
        background: transparent;
        border: 1px solid #333;
        color: #333;
    }
    &--gre {
        background: $gre;
        color: #50504B;
    }
    &--greW {
        background: $gre;
    }
    &--oraW {
        background: $ora;
    }
    &--red {
        background: $red;
    }
    &--noarrow {
        &:after {
            content: none;
        }
    }
    &--312 {
        width: (312em/16);
        margin-left: auto;
        margin-right: auto;
    }
    &--590 {
        max-width: (590em/16);
        margin-left: auto;
        margin-right: auto;
    }
    &--lg {
        font-size: clamp((18em/16), 1.4vw , (24em/16));
        line-height: (100/24);
    }
    &--back {
        &:after {
            content: none;
        }
        &:before {
            content: "";
            width: (8em/16);
            height: (14em/16);
            @include pos-a(left,(25em/16),top,50%);
            transform: translate(0,-50%);
            background: url(../img/common/arrow_l_wt.svg) no-repeat;
            background-size: 100% auto;
            transition: .3s;
        }
    }
}

.btn-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: (30em/16);
    margin-bottom: (30em/16);
    .btn {
        margin: (15em/16) (30em/16);
    }
}


.anim {
    opacity: 0;
}
.fadein.is-animated {
    animation: fadeIn 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
.slideinR.is-animated {
    animation: slideInR 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
.slideinL.is-animated {
    animation: slideInL 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
.slideinB.is-animated {
    animation: slideInB 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
.fadeincont > *{
    opacity: 0;
}
.fadeincont.is-animated {
    opacity: 1;
}
 
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideInR {
    0% {
        transform: translate(10%,0);
        opacity: 0;
    }
    100% {
        transform: translate(0%,0);
        opacity: 1;
    }
}
@keyframes slideInL {
    0% {
        transform: translate(-10%,0);
        opacity: 0;
    }
    100% {
        transform: translate(0%,0);
        opacity: 1;
    }
}
@keyframes slideInB {
    0% {
        transform: translate(0,50%);
        opacity: 0;
    }
    100% {
        transform: translate(0%,0);
        opacity: 1;
    }
}

$a: 1;
@while $a <= 50 {
    .fadeincont.is-animated > *:nth-of-type(#{$a}) {
        animation: slideInL 0.5s cubic-bezier(0.33, 1, 0.68, 1) (0.75s * $a) forwards;
    }
    $a: $a + 1;
}

sup {
    font-size: 0.5em;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--2 {
        margin-top: (-20em/16);
        @include max-screen($screen-sm) {
            margin-top: -4%;
        }
        .grid__list {
            width: percentage(594/1266);
            margin-top: (20em/16);
            @include max-screen($screen-sm) {
                width: 100%;
                margin-top: 4%;
            }
        }
        &.grid--near {
            .grid__list {
                width: calc(50% - 5px);
                @include max-screen($screen-sm) {
                    width: 48%;
                }
            }
        }
    }
    &--3 {
        margin-top: (-90em/16);
        &:after {
            content: "";
            width: percentage(534/1730);
        }
        @include max-screen($screen-sm) {
            margin-top: -20%;
        }
        .grid__list {
            width: percentage(534/1730);
            margin-top: (90em/16);
            @include max-screen($screen-sm) {
                margin-top: 20%;
                width: 100%;
            }
        }
        &.grid--near {
            .grid__list {
                width: calc(33.333333% - 2px);
                @include max-screen($screen-sm) {
                    width: 100%;
                }
            }
        }
    }
    &--4 {
        &:after {
            content: "";
            width: percentage(280/1200);
        }
        @include max-screen($screen-sm) {
            margin-top: -4%;
        }
        .grid__list {
            width: percentage(280/1200);
            @include max-screen($screen-sm) {
                width: 48%;
                margin-top: 4%;
            }
        }
        &.grid--near {
            .grid__list {
                width: calc(25% - 3px);
                @include max-screen($screen-sm) {
                    width: 48%;
                }
            }
        }
    }
    &--5 {
        @include max-screen($screen-sm) {
            margin-top: -4%;
        }
        .grid__list {
            width: percentage(230/1200);
            @include max-screen($screen-sm) {
                width: 48%;
                margin-top: 4%;
            }
        }
    }
    &--fig {
        figure {
            figcaption {
                font-weight: 600;
                text-align: center;
                font-size: clamp((16em/16), 2vw , (22em/16));
                margin-top: (10em/22);
            }
        }
    }
    &--fig2 {
        figure {
            figcaption {
                font-weight: 600;
                text-align: center;
                font-size: clamp((11em/16), 1vw , (13em/16));
                margin-top: (7em/14);
            }
        }
    }
    &__shadow {
        box-shadow: 0 (3em/16) (6em/16) rgba(#50504B,0.16);
    }
}

.mb5p {
    margin-bottom: 5%;
}
.mb10p {
    margin-bottom: 10%;
}
.mb1em {
    margin-bottom: 1em;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mt1em {
    margin-top: 1em;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}

.-tabflex {
    display: none !important;
    &.-act {
        display: flex !important;
    }
}

.-note {
    margin-left: 1em;
    text-indent: -1em;
}


/*==================================================================================================
    header
==================================================================================================*/
.site-header {
    width: 100%;
    @include pos-f(left,0,top,0);
    z-index: 99999;
    font-size: clamp((12em/16), (1600vw/1920) , (16em/16));
    padding: 0;
    background: transparent;
    transition: background .5s;
    &.cls {
        background: rgba(#000,.9);
        .site-header__inner {
            height: (80em/16);;
        }
        .site-header__logo {
            display: block;
            opacity: 1;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        height: (110em/16);
        padding: 0 2%;
        justify-content: right;
        transition: height .3s;
        @include max-screen($screen-lg) {
            padding: 0 (20em/16);
        }
        @include max-screen($screen-md) {
            height: (52em/12);
            padding: 0 1em;
        }
    }
    &__logo {
        width: (166em/16);
        margin-right: auto;
        opacity: 0;
        display: none;
        transition: opacity .3s;
        @include max-screen($screen-md) {
            width: (120em/12);
        }
    }
    &__btn {
        //display: block;
        width: (190em/16);
        line-height: (40em/16);
        border-radius: 50em;
        background: #FFF;
        color: $nav;
        text-align: center;
        font-weight: bold;
        @include max-screen($screen-md) {
        }
        &:hover {
            background: $nav;
            color: #FFF;
        }
    }
    .menu-btn {
        display: none;
        z-index: 10000;
        background-color: $nav;
        border-radius: 50em;
        width: (42em/10);
        height: (28.8em/10);
        margin-left: 1em;
        border: none;
        padding: (11em/10) (13.5em/10);
        @include max-screen($screen-md) {
            display: block;
        }
        > span {
        }
        span {
            display: block;
            position: relative;
            height: 100%;
            transition: 0.3s;
            span {
                display: block;
                background: #FFF;
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                border-radius: 50em;
                transform-origin: center center;

                &:nth-child(1) {
                    top: 0;
                    width: 100%;
                }
                &:nth-child(2) {
                    bottom: 0%;
                    width: 100%;
                }
            }
        }
        &:hover {
            span {
                span {
                    width: 100%;
                }
            }
        }
        &--opened {
            span {
                span {
                    &:nth-child(1) {
                        top: 50%;
                    }
                    &:nth-child(2) {
                        top: 50%;
                    }
                }
            }
        }
    }
    .header-cont {
        @include min-screen($screen-md + 1) {
            display: block !important;
            margin-right: 2%;
        }
        @include max-screen($screen-md) {
            display: none;
            @include pos-f(left,0,right,0,top,0,bottom,0);
            padding-top: (120em/18);
            width: 100%;
            background: rgba(#FFF,.97);
        }
    }
    .header-nav {
        display: flex;
        align-items: center;
        @include max-screen($screen-md) {
            height: 100%;
            padding-bottom: 8em;
            flex-direction: column;
            justify-content: center;
        }
        .g-nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include max-screen($screen-md) {
                flex-direction: column;
                margin-right: 0;
                margin-left: 0;
                width: 100%;
                padding: 0 0 3em;
                background: transparent;
            }
            &__list {
                position: relative;
                transition: transform .3s;
                padding: 0 2em;
                @include max-screen($screen-lg) {
                    padding: 0 1em;
                }
                @include max-screen($screen-md) {
                    padding: 0.25em;
                    text-align: center;
                }
                @include max-screen($screen-xs) {
                    font-size: 1.4rem;
                }
                &:hover {
                    transform: translateY(-2px);
                }
                > a {
                    @include underline(false,false);
                    font-weight: 600;
                    color:#FFF;
                }
            }
        }
    }
}

.gotop {
}

.wrap {
    font-size: clamp((12em/16), (1600vw/1920) , (16em/16));
    //margin-top: (110em/16);
    @include max-screen($screen-sm) {
        //margin-top: (52em/12);
    }
}

.fixed-btn {
}



/*==================================================================================================
    footer
==================================================================================================*/
.site-footer {
    font-size: clamp((12em/16), (1600vw/1920) , (16em/16));
    position: relative;
    padding: 4em 20px;
    background: #FFF;
    // @include min-screen($screen-xs + 1) {
    //     padding: 4em (80em/16);
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    &__inner {
        max-width: 1220px;
        margin: 0 auto;
    }
    &__info {
        text-align: center;
        margin-bottom: 2em;
        @include max-screen($screen-xs) {
        }
    }
    &__logo {
        text-align: center;
        width: (280em/16);
        margin: 0 auto 1em;

        @include max-screen($screen-xs) {
        }
    }
    &__txt {
        font-weight: bold;
        margin-top: 2em;
    }
    &__btn {
        display: block;
        background: $nav;
        color: #FFF;
        font-size: (14em/16);
        font-weight: bold;
        line-height: (54/14);
        width: (210em/14);
        margin: 1em auto 0;
        &:hover {
            opacity: 0.7;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        @include min-screen($screen-xs + 1) {
            justify-content: flex-end;
        }
        li {
            margin-left: 2em;
            margin-bottom: 1em;
            &:before {
                content: "";
                background: url(../img/common/arrorw_r_bk.svg) no-repeat;
                background-size: 100% auto;
                width: (5.4em/16);
                height: (10.1em/16);
                display: inline-block;
                margin-right: 0.5em;
            }
        }
    }
    .copyright {
        font-size: (14em/16);
        padding-top: 3em;
        margin-top: 2.5em;
        border-top: 1px solid #000;
        text-align: center;
    }
}


